/** {
   margin: 0px;
   padding: 0px;
}

html,
body {
   margin: 0px;
   padding: 0px;
   height: 100%;
   width: 100%;
   overflow-x: hidden;
   background: none;
}

body {
   font-family: 'Montserrat', sans-serif;

   background: none;
} */
.card {
    /*opacity: 0; !important;*/
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    position: relative;




}
#shopping {
    position: absolute;
    top: 0px;
    right: 0px;
}
#shopping i {
    font-size: 20px;
}
#shopping sup {
    margin-left: 4px;
}

.images h2 {
    margin-bottom: 25px;
}
.infos h1 {
    display: none;
}

.infos #more-infos {
    display: flex;
    justify-content: space-between;
    color: gray;
}

#more-infos h5 {
    padding: 8px;

}

#more-infos h5:nth-child(1) {
    color:black ;
    border-bottom: 2px solid black ;
    padding-bottom: 6px;
}
.infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    margin-top: 30px;
    width: 90%;
}
h3:nth-child(2) {
    color: gray;
    text-decoration: line-through;
}
.choose {
    cursor: pointer;
}
#info-content {
    font-size: 12px;
    height: 70px;
}
.buttons {
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.buttons button {
    margin: 10px;
    width: 180px;
    padding: 5px;
    font: inherit;
    border: 2px solid #FF9800;
    border-radius: 25px;
    background-color: white;
    outline: none;
    cursor: pointer;
}
.buttons button:nth-child(1) i {
    margin-right: 10px;
}
.buttons button:hover {
    color: white;
    background-color: #eabe7f;
}
.slider {
    height: 80%;
    display: flex;
    align-items: center;

}
.slider img {
    width: 90%;
    margin: auto;
}
.img-slider {
    width: 70%;
    display: flex;
    height: 40px;
    justify-content: space-between;
    margin: auto;
    margin-top: 15px;
}

.img-slider div {
    width: 20%;
    height: 100%;
}

.img-slider img {
    height: 100%;
}

@media ( min-width : 1025px) {
    body {

        align-items: center;
        justify-content: center;


    }
    .Gamecontainer {
        background: none;
        width: 75%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;

        /*position: fixed; !* Stay in place *!*/
        /*z-index: 1; !* Sit on top *!*/
        /*padding-top: 100px; !* Location of the box *!*/
        /*left: 0;*/
        /*top: 0;*/
    }
    .card {
        background-color: rgb(250, 212, 23);
        flex-direction: row;
        padding-left: 0px;

        height: 400px;
        width: 1000px;
        border-radius: 15px;

        position: relative;
        margin: auto;

    }


    .images {
        width: 50%;
        height: 100%;
    }

    .images h2 {
        display: none;
    }
    .infos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 0px;
        height: 80%;
        width: 50%;
        font-size: 20px;
        padding-right: 70px;

    }
    .infos h1 {
        display: block;
    }

    .buttons {
        flex-direction: row;
        font-size: 15px;
    }

    .buttons button {
        padding: 8px;
    }

    .img-slider {
        width: 50%;
    }
    #shopping {
        position: absolute;
        top: 20px;
        right: 20px;
    }
    #shopping i {
        font-size: 30px;
    }



}